.transformContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.axisEditor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 1px solid #3b3b3b;
    background-color: #202020;
}

.numberInput {
    width: 100%;
    height: 20px;
    margin-bottom: 1px;
    border: 1px solid #3b3b3b;
    border-radius: 2px;
    color: white;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 1rem;
}


.rangeInput {
    width: 100%;
    height: 20px;
    margin-bottom: 1px;
    border: 1px solid #3b3b3b;
    border-radius: 2px;
    color: white;

}

.label {
    margin-bottom: 5px;
    text-align: center;
}

.x_axis {
    background-color: rgb(179, 63, 63);
}

.y_axis {
    background-color: rgb(88, 136, 88);
}

.z_axis {
    background-color: rgb(82, 82, 175);
}

.rotation {
    display: flex;
}